<div class=main>
<div class="bouquet">
    <p>Flower Bouquets</p>
    <div class="bouqimg">
       
        <div class="q">
          <img src="../assets/img/41.jpg"/>
          <div class="disc">Add discription</div>
        </div>
        <div class="q">
            <img src="../assets/img/70.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/43.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/49.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/45.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/46.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/47.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/48.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/44.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/50.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/51.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/52.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/53.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/54.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/55.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/56.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/59.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q">
            <img src="../assets/img/58.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q1">
            <img src="../assets/img/73.jpg"/>
            <div class="disc">Add discription</div>
          </div>
          <div class="q1">
            <img src="../assets/img/74.jpg"/>
            <div class="disc">Add discription</div>
          </div>
    </div>
</div>
<div class="bride">
    <p>Bridel Flowers</p>
    <div class="briimg">
        <div class="b">
         <img src="../assets/img/2.jpg"/>
         <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/3.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/12.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/34.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/14.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/22.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/35.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/1.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/30.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/32.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/27.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/33.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/37.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/21.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/39.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        <div class="b">
            <img src="../assets/img/13.jpg"/>
            <div class="dis">Add discription</div>
        </div>
        
    </div>
</div>
</div>

